body{
  background-image:url("https://1.bp.blogspot.com/-SDsunj9Ss1Q/Xqe-iLpSTXI/AAAAAAAACl4/sF39enY1w-smJ8xNzzjmlZp0zvGPPhs4QCLcBGAsYHQ/s640/983e1f403d53172ceb3cbaf2b14c948b.jpg") ;
}

img{
height:60%;
width:50%;
margin-left:300px;

}
p{
  height:auto;
  width:50%;
  font-size: 19px;
  margin-left:300px;
}
