/* لتغيير الخط في الصفحة كلها */
body{
 font-family: 'Lora', serif;
 margin: 0;
}

main{
  margin: 0 auto;
}

a{ /* Navigation تنسيقات للـ */
  text-decoration: none; /* عشان أشيل الخط اللي تحت النص*/
  color: black; /* عشان يصير لون النص أسود، لأنه بالأصل يطلع أزرق عشان فيه رابط */
}

a:hover{ /* Phone Navigation تنسيقات للـ */
  text-decoration: none;
  color: green;
}

/* Inputs */
input, textarea{
  height: 32px;
  padding: 0 16px;
  font-size: 18px;
  border: none;
  box-shadow: inset 2px 2px 10px -4px rgba(0, 0, 0, 0.4);
}
input:focus, textarea:focus{ /*عشان ألغي الحواف السوداء على صندوق البحث لما يضغط عليه المستخدم*/
  outline: none;
}

/* العبارة الترحيبية  */
 #banner{
 height: 100vh;
 display: flex;
 justify-content: flex-end; /* مكان النص */
 flex-direction: column;
 background: url('https://images.squarespace-cdn.com/content/v1/580e572b29687f9f7c254951/1557345571131-L7LP9HQWVGWU8LQC4MHE/ke17ZwdGBToddI8pDm48kMXRibDYMhUiookWqwUxEZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luUmcNM2NMBIHLdYyXL-Jww_XBra4mrrAHD6FMA3bNKOBm5vyMDUBjVQdcIrt03OQ/Living+Room+spring+refresh+6?format=1500w');
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 background-blend-mode: overlay;
 color: white;
 }
 #banner h1{
   padding: 0 30px;
   font-size: 40px;
 }
 #banner h3{
   padding: 0 24px;
   padding-right: 150px;
   font-size: 32px;
 }
 .header{
   /* border-radius: 8px; */
   background: RGB(0, 0, 0, 0.3);
   padding: 30px;
 }
/* Search Box */
#searchBox{
  position: fixed;
  right: 0;
  top: 24px;
  width: 350px;
  pointer-events: none;
  z-index: 50;
  transition: 0.4s;
}
#searchBox input{
  height: 35px;
  width: 100%;
}

/* Navigation */
nav{
  height: 72px;
  background: RGB(253, 254, 254); /* Navigation Menu لون خلفية الـ */
  width: 100%;
  margin: 0;
  position: fixed;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  z-index: 100;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.5); /* ظل خفيف أسفل الناف*/

}
nav a{
  padding: 0 32px;
  color: black; /* Navigation Menu لون نص الـ */
  transition: 0.4s;
}
nav a:hover{
  text-decoration: none;
  color: green; /*لون النص اللي يطلع لما يمرر المستخدم الماوس*/
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}
/* هينا الكود أنه الناف الحالية تكون اكتيف */
#logoImg{
  display: flex;
  height: 100%;
  padding: 0 32px;
  align-items: center;
  /* color: white; */
  transition: .4s;
}
#logoImg img{ /* حجم الصورة */
  height: 75px;
}
#logoImg img{ /*إذا كانت خلفية اللوقو شفافة; ممكن أغير لونها إذا ممر المستخدم الماوس */
  background: white;
}
#menuIcon { /* Menu Icon */
  height: 100%;
  font-size: 25px; /* حجم الأيكون */
  padding: 0 4px;
  display: none;/* لإخفاء المنيو أيكون في طريقة عرض المتصفح */
  align-items: center;
}
#searchIcon { /* Search Icon */
  color: black;
  padding: 0 32px;
  padding-left: 0;
  cursor: pointer;
  transition: 0.4s;
}
#searchIcon:hover {
  color: green; /* اللون اللي يطلع لما يمرر المستخدم الماوس على السيرتش ايكون */
}

 /* Sign in */
#signIn {
  color: black;
  cursor: pointer;
}
#signIn:hover{
  color: green;
}
/* Sign in Icon */
#signIn i{
font-size: 20px;
}
#signIn a{
  padding-left: 0;
}
#contactUs{
  padding-right: 30px; /* وباقي الناف signInالمسافة بين الـ */
}
/* Slideout Menu (Phone Navigation) */
#slideoutMenu{
  display: none;
  background: white; /* لون الخلفية */
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center; /* مكان النص */
  opacity: 0;
  pointer-events: none;
}
#slideoutMenu ul{
  list-style: none;
  padding: 0 32px;
}
#slideoutMenu ul li{
  padding: 8px;
}
#slideoutMenu a{ /* أعدادات النص */
  font-size: 20px;
}
#slideoutMenu input{
  width: 100%;
  padding: 5px;
  font-size: 20px;
  text-align: center; /* مكان النص */
}

/* إعدادات الصفحة الصغيرة */
@media screen and ( max-width: 1290px ) {
 nav ul {
  display: none; /* لإخفاء النافقيشن منيو */
 }
  #menuIcon{ /* لإظهار المنيو ايكون */
    display: flex;
    cursor: pointer;
  }
  /* #menuIcon:hover{
    color: gold;
  } */
  #slideoutMenu{
    display: block;
  }
  #searchBox{
    display: none;
  }
  #banner h3{
    padding: 0 24px;
  }
}

@media screen and (max-width: 600px) {
  main {
    overflow-x: hidden;
  }
  /* لتغيير حجم العبارة الترحيبية في الشاشة الصغيرة */
  #banner h1 {
    font-size: 30px;
    padding-right: 0;
    padding-left: 20px;

  }
  #banner h3{
    font-size: 20px;
  }
  #banner{
    overflow-x: hidden;
  }
  #logoImg{
    padding: 0 0;
  }
}

/* Indoor and Outdoor plants cards
 .plantsCards{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content:center;
   align-items: center;
   min-height: 80vh;
  background: #b3a892;
  }
  .box{
    margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
    display: grid;
    grid-row-gap: calc(var(--base-grid)*8);
    grid-column-gap: calc(var(--base-grid)*6);
    grid-template-columns: repeat(auto-fit,minmax(calc(var(--base-grid)*35),1fr));
    justify-items: center;
  }
  .polaroid a {
        background: #ffffff;
        display: inline-block;
        margin: 55px 75px 30px;
        padding: 15px 15px 30px;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
        -webkit-transition: all .20s linear;
        -moz-transition: all .20s linear;
        transition: all .20s linear;
        z-index: 10;
        position: relative;
      }
      .polaroid a:after {
        color: #333;
        font-size: 25px;
        content: attr(title);
        position: relative;
        top: 15px;
      }
      .polaroid img {
        display: block;
        width: 350px;
        height: auto;
      }
      .polaroid a:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        transform: scale(1.02);
        z-index: 0;
        -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
      } */

/* New Section ( This part of code is copied from the web ) */
:root {
  --base-grid: 10px;
  --colour-body-background: #a68c63;
  --colour-background: #fff;
  --colour-background-folded: #f5f5f5;
  --colour-background-stripes: rgba(255,255,255,.5);
  --colour-text: #1a1a1a;
}
.newSection, :after, :before {
  box-sizing: border-box;
  margin: 0;
}
.newSection {
  background: var(--colour-body-background);
  font-family: Bitter;
  padding: calc(var(--base-grid)*10);
}
.articles {
  margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
  display: grid;
  grid-row-gap: calc(var(--base-grid)*8);
  grid-column-gap: calc(var(--base-grid)*6);
  grid-template-columns: repeat(auto-fit,minmax(calc(var(--base-grid)*35),1fr));
  justify-items: center;
}
.articles__article {
  cursor: pointer;
  display: block;
  position: relative;
  perspective: 1000px;
  animation-name: animateIn;
  animation-duration: .35s;
  animation-delay: calc(var(--animation-order)*100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.articles__article:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid)*-2);
  left: calc(var(--base-grid)*-2);
  border: 2px dashed var(--colour-background);
  background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
  z-index: -1;
}
.articles__article,
.articles__article:before {
  width: calc(var(--base-grid)*35);
  height: calc(var(--base-grid)*35);
}
.articles__link {
  background-color: var(--colour-body-background);
  border: 2px solid var(--colour-background);
  display: block;
  width: 100%;
  height: 100%;
}
.articles__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--base-grid)*3);
  width: calc(var(--base-grid)*2);
  height: calc(var(--base-grid)*2);
  margin-top: calc(var(--base-grid)*-1);
  clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  background-color: var(--colour-background);
  opacity: 0;
  transition: opacity .5s ease-in,transform .3s ease-in-out 0ms;
}
.articles__content {
  background-color: var(--colour-background);
  color: var(--colour-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(var(--base-grid)*2);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--colour-background);
}
.articles__content--lhs {
  clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
  -webkit-clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
}
.articles__content--rhs {
  clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  transition: transform .5s ease-in-out,background-color .4s ease-in-out;
}
.articles__title {
  font-size: 29px;
}
.articles__content p {
  font-size: 20px;
  padding-top: 8px;
}
.articles__footer {
  margin-top: auto;
  font-size: 10px;
  line-height: 20px;
  display: flex;
  color: #a68c63;
}
.articles__link:hover .articles__content--rhs {
  background-color: var(--colour-background-folded);
  transform: rotateY(-50deg);
}
.articles__link:hover:after {
  opacity: 1;
  transform: translateX(calc(var(--base-grid)*1.5));
  transition: opacity .5s ease-in,transform .3s ease-in-out .25s;
}

/* Contact us شغل هنا*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  margin: 0; /*خطوط العرض */
  padding: 0; /*االمساحة لجميع العناصر الافتراضية صفر */
}

.container{/*contact us تفاصيل العرض والحجم والون */
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}

.container p{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: #486255;
}
/*bolgs*/
.slider-title{
  text-align: center;
  font-style:oblique;
  font-size:50px;


}
/* for read more */
.readmore{
  text-decoration:none;
  color:#daa520;
  border: 1px solid #daa520;

  padding:2px;
  font-size:12px;
  border-radius:10px;
}
.readmore:hover{
  color: white;
  border: 1px solid  #daa520 ;/* for change also the border same color*/
  background: #daa520;
}
.paragraph{
  font-size: 14px;
  text-align:center;

}

.post-slider{
 position: relative;/* الإزاحه من بداية الصفحة نفسها*/

}
/* تنسيق الكارد ككل  */
.post-slider .post-wrapper{
 width:100%;/*for showingهنا قدرت اطلع البوست الرابع */
 height:390px;
 margin-top:15px;
 overflow:hidden;
 padding:10px 0px 10px  50px;/*top right bottom left*/

}

.post-slider .post-wrapper .post{
 width:290px;
 height:330px;
 margin:0px 10px;
 display:inline-block;
 background:  white;
 text-align: center;
 border-radius:5px;
 box-shadow:2rem 2rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info{
  height: 130px;

}
/* for slider image*/
.post-slider .post-wrapper .post .slider-image{
 width:100%;
 height:200px;
 border-top-left-radius:10px;
 border-top-right-radius:10px;


}
/*end blog*/

.input,.msg .area{ /* التحكم بحجم البوكس ومقاس الخط مثل الاسم والايميل ولجميع العناصر في الكونتاكت*/
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{ /* حركنا بوكس الاست نيم الى الجهة اليمنى*/
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{ /* حركنا بوكس الاست نيم الى الجهة اليمنى*/
  margin-right: 0;
}

.msg .area{ /*حجم بوكس المسج*/
  height: 200px;
}

.btn{ /* التحكم ببوكس السيند مسج */
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,.msg .area:focus{/* اذا ضغطنا على البوكس راح يطلع لي حدود خضراء*/
  border: 2px solid #486255;
}

::-webkit-input-placeholder{ /* يتحكم بمقاس النص في البوكس*/
  font-family: "Roboto",sans-serif;
}

/* footer */
footer{
  text-align: center;
  padding:  0px 50px;
  background-color: #6d765c;
  color: white;
  padding-top: 45px;
}
/* Social Media IconS */
.socialMediaIcon{
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 6px;
}
.socialMediaIcon i {
  cursor: pointer;
}
#©{
  font-size: 10px;
  padding: 10px;
}
